header {
    background-color: $supplement;
    margin: 0px 150px;
    padding: 13px 60px;
    font-size: 1rem;

    div.box {
        @include flex-sb();

        div.right {
            @include flex-sb();

            img {
                max-width: 25%;
            }

            ul {
                @include flex-sb();
                position: relative;
                top: 5px;
                margin-right: 25px;

                li {
                    padding: 10px;
                    font-weight: bold;
                    font-size: 1.2em;

                    a {
                        color: white;
                        transition: 0.2s;
                    }

                    a:hover {
                        color: lighten($color: $primary, $amount: 12);
                    }
                }
            }

            .burger {
                position: relative;
                width: 40px;
                height: 30px;
                background: transparent;
                cursor: pointer;
                display: block;
                margin-right: 17px;
            }

            .burger input {
                display: none;
            }

            .burger span {
                display: block;
                position: absolute;
                height: 4px;
                width: 100%;
                background: rgb(255, 255, 255);
                border-radius: 9px;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: .25s ease-in-out;
            }

            .burger span:nth-of-type(1) {
                top: 0px;
                transform-origin: left center;
            }

            .burger span:nth-of-type(2) {
                top: 50%;
                transform: translateY(-50%);
                transform-origin: left center;
            }

            .burger span:nth-of-type(3) {
                top: 100%;
                transform-origin: left center;
                transform: translateY(-100%);
            }

            .burger input:checked~span:nth-of-type(1) {
                transform: rotate(45deg);
                top: 0px;
                left: 5px;
            }

            .burger input:checked~span:nth-of-type(2) {
                width: 0%;
                opacity: 0;
            }

            .burger input:checked~span:nth-of-type(3) {
                transform: rotate(-45deg);
                top: 28px;
                left: 5px;
            }
        }

        div.left {
            .btn-login {
                padding: 16px 32px;
                border: none;
                border-radius: 5px;
                font-weight: bold;
                text-transform: uppercase;
                cursor: pointer;
                color: $primary;
                transition: all 1000ms;
                font-size: 15px;
                position: relative;
                overflow: hidden;
                outline: 2px solid $primary;

                span {
                    text-wrap: nowrap;
                }
            }

            div:hover {
                color: #ffffff;
                transform: scale(1.1);
                outline: 2px solid $primary-50;
                box-shadow: 4px 5px 17px -4px $primary-dark;
            }

            div::before {
                content: "";
                position: absolute;
                left: -50px;
                top: 0;
                width: 0;
                height: 100%;
                background-color: $primary;
                transform: skewX(45deg);
                z-index: -1;
                transition: width 1000ms;
            }

            div:hover::before {
                width: 250%;
            }

        }

    }

    div.burger-box {
        position: fixed;
        top: 0px;
        right: 100%;
        width: 50vw;
        height: 100vh;
        background-color: #333;
        transition: 0.5s;

        ul {
            margin-top: 13px;
            li {
                text-align: center;

                a {
                    color: white;
                    transition: 0.5s;
                }

                a:hover {
                    color: lighten($color: $primary, $amount: 12);
                }
            }

            hr {
                border: 1px solid rgba(255, 255, 255, 0.452);
            }
        }
    }
}

@media only screen and (max-width: 1140px) {
    header.rounded-bottom-5 {
        margin: 0px 0px;
        border-radius: 0 !important;
    }
}

@media only screen and (max-width: 960px) {
    header {
        padding: 5px 20px;
        font-size: 0.8rem;
    }

    header div.box div.right {
        justify-content: start;
    }

    header div.box div.right img {
        width: 12%;
    }

    header div.box div.right ul {
        top: 7px;
        margin-right: 12px;
    }
}

@media only screen and (max-width: 768px) {
    header div.box div.right img {
        width: 15%;
    }

    header div.box div.left .btn-login {
        padding: 8px 21px;
    }
}

@media only screen and (max-width: 512px) {
    header {
        padding: 10px 7px;
        font-size: 0.8rem;
    }

    header div.box div.right img {
        max-width: 100%;
        width: 50px;
    }

    header div.box div.left .btn-login {
        padding: 5px 11px;
    }
}